.header {
    display: flex;
    padding: 10px 20px; /* Reduce padding */
    justify-content: space-between;
    position: sticky;
    background-color: rgb(217, 161, 231) !important ;
    /* background-color: rgb(6, 0, 8) !important ;  */
    z-index: 100;
    top: 0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .1);
    width: 100%;
    width: max-content;
    min-width: max-content;
}

.header__left > img {
    height: 50px; 
	width: 130px;
	margin-left: 30px;
}

.header__left {
    display: flex;
    align-items: center; /* Center align items */
}

.header__input {
    display: flex;
    align-items: center;
    background-color: #eff2f5;
    margin-left: 470px;
    border-radius: 20px; /* Increase border radius */
}

.header__input > input {
    border: none;
    background-color: transparent;
    outline: none;
}

.header__option:hover {
    background-color: #eff2f5;
    border-radius: 10px;
    padding: 8px 20px; /* Reduce padding */
    border-bottom: none;
}

.header__info > h4 {
    margin-left: 8px; /* Reduce margin */
}

.header__right {
    display: flex;
    align-items: center;
}
.header__info {
    display: flex;
    align-items: center;
}

.header__info > h5 {
    margin-left: 10px; /* Add margin between username and profile picture */
}

.header__info > h5,
.header__info > .MuiAvatar-root {
    margin-right: 10px; /* Add margin between username and profile picture */
}
