.asl-keyboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #e0e0e0; /* 3D background color */
}

input {
  margin-top: 10px;
  padding: 5px;
}

button {
  margin-top: 10px;
  padding: 5px;
}

.asl-keyboard {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Adjust the number of columns as needed */
  gap: 10px;
}

.key {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 5px;
  cursor: pointer;
}

.key img {
  height: 40px; /* Adjust the height of the image */
  width: 60px;
  /* margin-bottom: 5px; */
}
button.clear-button {
  margin-top: 10px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #ff6161; /* Red color for clear button */
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button.clear-button:hover {
  background-color: #ff3333; /* Darker red on hover */
}