.sidebar {
    position: fixed;
    top:0;
    left: 0px;
    margin: 5px;
    height: 100vh;
    background-color: #0d6efd;
    color: white;
    padding: 15px 10px; /* Adjusted padding for better spacing */
    width: 240px;
    z-index: 0;
}

.sidebar hr {
    border-color: #3a3b3c;
}

.sidebar a {
    color: white;
    font-size: 10px; /* Adjusted font size for better visibility */
}

.sidebar a:hover {
    text-decoration: underline;
}

.sidebar svg {
    fill: rgb(250, 244, 244);
    width: 20px; /* Adjusted width of the symbols */
    height: 20px; /* Adjusted height of the symbols */
}

.sidebar .small-text {
    font-size: 8px; /* Adjusted font size for small text */
}
